rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra Universal para as coleções: connections, contacts e messages
    match /{collectionName}/{docId} {
      
      // Permitir leitura e escrita apenas se:
      // 1. O usuário estiver autenticado
      // 2. O userId do documento for igual ao UID do usuário logado
      
      allow read, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      
      allow update: if request.auth != null && 
                    resource.data.userId == request.auth.uid && 
                    request.resource.data.userId == request.auth.uid;
    }
  }
}